html,
body {
    font-size: 15px;
    height: 100%;
}

body {
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background: #FFFFFF;
    margin: 0px;
    padding: 0px;
    color: #555555;
    text-rendering: optimizeLegibility;
    min-width: 320px;
}

.container {
    width: auto;
    margin: 0 200px;
}

.ui.menu {
    padding: 0 200px;
}